{% extends "sal_project/base.html" %}

{% block content %}

<!--
  <div class="container">
    <div class="row no-gutters">
      <div class="col-4 offset-4">
        <h1 class="my-3 text-center">予約システム</h1>
      </div>
    </div>
    <dev class="row">
      <div class="col-6 offset-3">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
               <div class="form-group col-6 mb-4">
                 <label for="Q_Name">姓</label>
                 <input type="text" class="form-control" name="first">
               </div>
               <div class="form-group col-6 mb-4">
                 <label for="Q_pass">名</label>
                 <input type="text" class="form-control" name="last">
               </div>
             </div>
              <div class="form-group mb-4">
                <label for="Q_pass">団体名</label>
                <input type="text" class="form-control" name="group">
              </div>
              <div class="form-group mb-4">
                <label for="purpose">目的</label>
                <select class="custom-select" name="purpose">
                 <option>a</option>
                 <option>b</option>
                 <option>c</option>
                </select>
              </div>
              <div class="form-group mb-4">
                <label for="pleas">場所</label>
                <select class="custom-select" name="pleas">
                 <option>a</option>
                 <option>b</option>
                 <option>c</option>
                </select>
              </div>
              <div class="row">
                  <div class="col-12 text-right mt-4">
                    <button type="submit" class="btn btn-primary mb-3">施設検索</button>
                  </div>
                </div>
                <div class="form-group mb-4">
                    <label for="facility">施設名</label>
                    <select class="custom-select" name="facility">
                     <option>a</option>
                     <option>b</option>
                     <option>c</option>
                    </select>
                  </div>
                  <div class="form-group mb-4">
                      <label for="Q_pass">※目的に「その他」を選択された場合はこちらに入力</label>
                      <input type="email" class="form-control" name="email">
                    </div>
              <div class="form-group mb-1">
                <label for="Q_Name">人数(※半角数字)</label>
              </div>
              <div class="row">
                <div class="form-group col-3 mb-1">
                  <label for="Q_pass">・市内</label>
                </div>
                <div class="form-group col-3 offset-3 mb-1">
                  <label for="Q_Name">・市外</label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3 mb-4">
                  <label class="sr-only" for="men1">男性</label>
                  <input type="tel" class="form-control mb-3" placeholder="男性" id="men1" size="12">
                </div>
                <div class="form-group col-3 mb-4">
                    <label class="sr-only" for="women1">女性</label>
                    <input type="tel" class="form-control mb-3" placeholder="女性" id="women1" size="12">
                  </div>
                  <div class="form-group col-3 mb-4">
                      <label class="sr-only" for="men2">男性</label>
                      <input type="tel" class="form-control mb-3" placeholder="男性" id="men2" size="12">
                    </div>
                    <div class="form-group col-3 mb-4">
                        <label class="sr-only" for="women2">女性</label>
                        <input type="tel" class="form-control mb-3" placeholder="女性" id="women2" size="12">
                      </div>
              </div>
              <div class="form-group mb-4">
                <label for="Q_pass">メールアドレス</label>
                <input type="email" class="form-control" name="email">
              </div>
              <div class="form-group mb-4 mt-4">
                <label for="Q_pass">電話番号</label>
                <input type="text" class="form-control" name="callnum">
              </div>
              <div class="form-group mb-1">
                <label for="date">日付</label>
              </div>
              <div class="row">
                <div class="form-group col-4 mb-5">
                  <label for="year">年</label>
                  <select class="custom-select" name="year">
                    <option>2018</option>
                    <option>2019</option>
                  </select> 
                </div>
                <div class="form-group col-4 mb-5">
                    <label for="month">月</label>
                    <select class="custom-select" name="year">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select> 
                  </div>
                  <div class="form-group col-4 mb-5">
                      <label for="day">日</label>
                      <select class="custom-select" name="year">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                      </select> 
                    </div>
              </div>
              <div class="form-group mb-0">
                  <label for="time">利用開始時刻</label>
                </div>
                  <div class="row">
                    <div class="form-group col-4 mb-4">
                    <label for="sHour">時</label>
                    <select class="custom-select" name="sHour">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                    </select> 
                  </div>
                  <div class="form-group col-4 mb-4">
                      <label for="sMin">分</label>
                      <select class="custom-select" name="sMin">
                        <option>0</option>
                        <option>15</option>
                        <option>30</option>
                        <option>45</option>
                      </select> 
                    </div>
                </div>
                <div class="row">
                  <div class="form-group col-4 mb-4">
                    <label for="forTime">利用時間(時間)</label>
                    <select class="custom-select" name="forTime">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                    </select>
                  </div>
                </div>
              <div class="row">
                <div class="col-12 text-right mt-4">
                  <button type="submit" class="btn btn-primary mb-3">確認</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </dev>
  </div>
-->

  <div class="row no-gutters">
    <div class="col-4 offset-4">
      <h1 class="my-3 text-center">予約システム</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card">
        <div class="card-body">
            <form action="{% url 'sal_project:reservation_add' %}" method="post">
                {% csrf_token %}
                {{form}}
                <div class="form-group row">
                  <div class="offset-md-3 col-md-9">
                    <button type="submit" class="btn btn-primary">送信</button>
                  </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </dev>

{% endblock content %}
