{% extends "system/base.html" %}

{% block content %}
<div class="container mt-3">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 offset-md-4">
        <h1 class="my-3 text-center">施設検索</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="card mb-5">
            <div class="card-body">
              <form method="get" action="">
                <div class="row">
                  <div class="col-md-5 offset-md-2">
                    <div class="form-group mt-4 mb-4">
                      <select class="custom-select custom-select-lg" name="area">
                        <option selected>エリアを選択</option>
                        {% for a in areas %}
                        <option>{{ a }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 mt-4">
                    <div class="form-group">
                      <button id="filter" class="btn btn-success btn-lg btn-block">施設検索</button>
                    </div>
                  </div>
                </div>
            </div>
            {% csrf_token %}
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for f in facilities %}
      <div class="col-md-10 offset-md-1">
        <div class="card mb-4">
          <div class="card-header">
            <h3>{{ f.facility }}</h3>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col-md-4 mb-4">
                <img src="{{ f.picture.url }}" class="card-img mb-2">
              </div>

              <div class="col-md-8">
                <div class="row">

                  <div class="col-12">
                    <h2>施設説明</h2>
                  </div>

                  <div class="col-12" style="height:120px">
                    <p>・{{ f.info }}</p>
                  </div>
                  <div class="col-12">
                    <h5>住所</h5>・{{ f.address }}
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group mb-4 mt-3">
                      <select class="custom-select" name="room">
                        <option selected>部屋一覧</option>
                        {% for r in f.room.all %}
                        <option>{{ r }}</option>
                        {% endfor %}

                      </select>
                    </div>
                  </div>

                  <div class="col-6 mb-4 mt-3 text-right">

                  <form action="{% url 'system:reservation_create' %}" method="GET">
                    <input type="hidden" name="facility" value="{{ f.facility }}">
                    <button type="submit" class="btn btn-success btn-block">予約</button>
                    {% csrf_token %}
                  </form>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% endblock content %}