{% extends "system/base.html" %}

{% block content %}

  <div class="container">
    <div class="row no-gutters">
      <div class="col-4 offset-4">
        <h1 class="my-3 text-center">○○様の予約一覧</h1>
      </div>
    </div>
    <dev class="row">
      {% for r in my_reservations %}
        {{ r.owner_id }}<br>
        {{ r.date_select }}<br>
        {{ r.facility }}
        
        <a href="{% url 'system:reservation_delete' r.pk %}">削除</a><br>
        <hr>
      {% endfor %}
    </dev>
  </div>

{% endblock content %}
