{% extends "system/base.html" %}
<!-- 仮
{% block content %}

  <div class="container">
    <div class="row no-gutters">
      <div class="col-4 offset-4">
        <h1 class="my-3 text-center">○○様の予約一覧</h1>
      </div>
    </div>
    <dev class="row">
      <table>
      {% for reservation in reservations %}
        <tr>
          <td>{{ reservation.group }}</td>
        </tr>
        <tr>
          <td>{{ reservation.facility }}</td>
        </tr>
        <tr>
          <td>{{ reservation.date_select }}</td>
        </tr>
        <tr>
          <td><a href="{% url 'sal_project:reservation_delete' reservation.id %}">削除</a></td>
        </tr>
        
      {% endfor %}
    </table>
    </dev>
  </div>

{% endblock content %}
-->