{% extends "system/base.html" %}
{% block content %}

<div class="container">
		<div class="row no-gutters">
		  <div class="col-md-4 offset-md-4">
			<h1 class="my-3 text-center">利用方法</h1>
		  </div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					{% load static %}
					<img class="card-img-top" src="{% static 'system/no_image.jpg' %}">
					<div class="card-body">
						<div class="card-title">カードの見出し</div>
						<h6 class="card-text">カードの内容</h6>
					</div>
				</div>
			</div>
		</div>
</div>		

<script>
	$(document).ready(function () {
		$('#calendar').fullCalendar({
			events: [
       	{
         		title: '会議',
         		start: '2018-09-01'
       		},
       		{
         		title:'フェスティバル',
         		start:'2018-09-20',
         		end:'2018-09-22'
       		 }
			]
		});
	});
</script>

{% endblock %}